<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="sticky-top">
            <div class="list-group" (click)="fProduct()">
                <a class="list-group-item list-group-item-action" routerLink="/home" [class.active]="!category">All
                    Products</a>
                <a *ngFor="let c of categories$| async" class="list-group-item list-group-item-action"
                    routerLink="/home" [queryParams]="{category: c.name}" [class.active]="category === c.name">
                    {{c.name}}
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row d-flex justify-content-center">
            <ng-container *ngFor="let p of filterProducts ">
                <div class="m-1">
                    <product-card [product]="p" [shopping-cart]="cart"></product-card>
                </div>
            </ng-container>
        </div>
    </div>
</div>